<!DOCTYPE HTML>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for i in all_states|sort(attribute='name') %}
            <LI>{{ i.id }}: <B>{{ i.name }}</B>
                <UL>
                    {% if i.cities %}
                        {% for j in i.cities|sort(attribute='name') %}
                        <LI>{{ j.id }}: <B>{{ j.name }}</B></LI>
                        {% endfor %}
                    {% endif %}
                </UL>
            </LI>

            {% endfor %}
        </UL>
    </BODY>
</HTML>
